<h1>¡Hola, {{ user }}!</h1>

<h3 [ngClass]="user == 'Anónimo' ? 'anonimo' : 'saludo'" id="user" [innerText]="user">
  <!--  No indicamos nada en las etiquetas, sino que el valor viene definido por la propiedad-->
</h3>

<p [ngStyle]="{color: 'orange'}">Hola, ¿qué tal?</p>

<p [ngStyle]="myStyle">Adiós muy buenas</p>

<button id="emit-alerta" (click)="enviarMensajeAlPadre()">Enviar mensaje de alerta al componente padre</button>

<!-- Hacer uso del componente ListaBasica del módulo Listas -->
<app-lista-basica></app-lista-basica>
