<h1>Ejemplos PIPES nativos de Angular</h1>

<!-- Fechas -->
<h2>Pipes para Fechas</h2>
<p>Mi cumpleaños es: {{ dob }} </p>
<p>Mi cumpleaños con PIPE DATE Básico es: {{ dob | date }} </p>
<p>Mi cumpleaños con PIPE DATE "dd/MM/yyyy" es: {{ dob | date: "dd/MM/yyyy" }} </p>

<p>Mi cumpleaños con PIPE DATE Short/Full es: {{ dob | date: dateFormat }} </p>
<button (click)="cambiarFormato()">Cambiar formato a {{ !cambio ? 'Short' : 'Full' }}</button>

<!-- Mayúsculas y Minúsculas -->
<p>Bienvenido, {{ nombre | uppercase }}</p>
<p>Nombre de usuario, @{{ nombre | lowercase }}</p>

<!-- Decimales -->
<p>PI (3 decimales): {{ numero_PI | number: '.3-3' }}</p>
<p>PI (5 decimales): {{ numero_PI | number: '.5-5' }}</p>
<p>PI (2 enteros y 8 decimales): {{ numero_PI | number: '2.8-8' }}</p>

<!-- Moneda (Currency) -->
<p>Precio del carrito: {{ precioCarrito | currency: 'EUR' }}</p>
<p>Precio del carrito: {{ precioCarrito | currency: 'USD': true }}</p>
<p>Precio del carrito: {{ precioCarrito | currency: 'EUR': true:'.3-3' }}</p>

<!-- JSON -->
<p>{{ persona | json }}</p>

<!-- Porcentajes -->
<p>Porcentaje de votos obtenidos: {{ cantidad | percent:'2.2-2' }}</p>

<!-- Slice -->
<p>Texto demasiado largo: {{ textoLargo | slice:0:10 }}...</p>

<!-- Combinación de PIPES -->
<p>Mi cumpleaños con PIPE DATE Short/Full MAYUS es: {{ dob | date: dateFormat | uppercase }} </p>
<p>Mi cumpleaños con PIPE DATE Short/Full MAYUS es: {{ dob | date: dateFormat | lowercase }} </p>

<!-- Pipe personalizado (Multiplica)-->
<p>Resultado: {{ 2 | multiplica: 10}} puntos</p>

<!-- Pipe personalizado (CalcularPuntuacion) -->
<p>{{ jugador1 | calcularPuntuacion }}</p>
<p>{{ jugador2 | calcularPuntuacion }}</p>
