<form [formGroup]="miFormularioArray">
  <h3>Datos en vivo del formulario</h3>
  <p>{{ miFormularioArray.value | json }}</p>

  <!-- Campos de Nombre y Apellidos -->
  <input placeholder="Nombre" formControlName="nombre">
  <input placeholder="Apellidos" formControlName="apellidos">

  <!-- Array con agrupaciones de teléfonos -->
  <div formArrayName="telefonos">
    <!-- Iteramos por cada uno de los teléfonos presentes en la lista -->
    <div *ngFor="let telefono of telefonosFormulario.controls; let i = index" [formGroupName]="i">
      <h5>Teléfono - {{ i }}</h5>
      <input placeholder="Prefijo" formControlName="prefijo">
      <input placeholder="Número" formControlName="numero">
      <button (click)="eliminarTelefono(i)">Borrar</button>
    </div>
  </div>

  <!-- Botón para añadir teléfonos -->
  <button (click)="addTelefono()">Añadir un nuevo teléfono</button>

</form>
